
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/OldTests

# Shared test state
shared-state.json

# Credentials
appConstants.ts

# Old versions of page manager
/pages/OldPageManagers/
